:root{
  --clr-dark-blue: 209 23% 22%;
  --clr-very-dark-blue-bg: 207 26% 17%;
  --clr-very-dark-blue-text: 200 15% 8%;
  --clr-dark-gray: 0 0% 52%;
  --clr-very-light-gray: 0 0% 98%;
  --clr-white: 0 0% 100%;

  --fw-normal: 300;
  --fw-bold: 600;
  --fw-very-bold: 800;

  --bs-light: 0em 0em 0.5em hsl(0 0% 0% / 0.2);
  --bs-dark: 0em 0.1em 0.3em hsl(0 0% 0% / 0.2);
}

.App {
  flex: 1;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: var(--fw-normal);
}