/********************************/
/* Reset                        */
/********************************/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;

  transition: background-color 500ms ease-in, color 250ms linear;
}

body {
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  display: flex;
  flex: 1;
  flex-grow: 1;
}